html {
    height: 100%;
}

body {
    --accent-color: #90c;
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --body-bg-color: #fff;
    --body-text-color: #111;
    --border-color: #ccc;
    --button-text-color: #fff;
    --error-color: #f33;
    --hint-bg-color: #fff;
    --item-bg-color: #eee;
    --menu-bg-color: #eee;
    --modal-bg-color: #fff;
    --placeholder-color: #888;

    background-color: var(--body-bg-color);
    color: var(--body-text-color);
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}

body.dark-theme {
    --accent-color: #0aa;
    --backdrop-color: rgba(255, 255, 255, 0.2);
    --body-bg-color: #222;
    --body-text-color: #eee;
    --border-color: #666;
    --button-text-color: #fff;
    --error-color: #f33;
    --hint-bg-color: #222;
    --item-bg-color: #333;
    --menu-bg-color: #333;
    --modal-bg-color: #222;
    --placeholder-color: #888;
}

body.reduce-motion *,
body.reduce-motion ::before,
body.reduce-motion ::after {
    animation-delay: 0ms !important;
    animation-duration: 1ms !important;
    transition-delay: 0ms !important;
    transition-duration: 1ms !important;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    transition: filter 250ms;
}

a:is(:focus, :hover) {
    filter: brightness(1.2);
}

a:active {
    filter: brightness(1.4);
}

a, button {
    /* Disable tap highlight in Android WebView */
    -webkit-tap-highlight-color: transparent;
}
